name: Shopware Instance
on:
  workflow_dispatch:
    inputs:
      id:
        description: "Execution ID"
        required: true

permissions:
  id-token: write

jobs:
  create-instance:
    runs-on: ubuntu-latest
    steps:
      - name: Install Shopware CLI
        uses: FriendsOfShopware/shopware-cli-action@v1

      - name: Fetch scoped token
        id: fetch-token
        uses: FriendsOfShopware/automation-bot/actions/fetch-token@main
        with:
          id: "${{ inputs.id }}"

      - name: Parse args
        id: parse-args
        run: |
          ARGS='${{ steps.fetch-token.outputs.args }}'
          SHOPWARE_VERSION=$(echo "$ARGS" | jq -r '.["shopware-version"] // "6.7.6"')
          PHP_VERSION=$(echo "$ARGS" | jq -r '.["php-version"] // "8.2"')
          echo "shopware-version=$SHOPWARE_VERSION" >> $GITHUB_OUTPUT
          echo "php-version=$PHP_VERSION" >> $GITHUB_OUTPUT

      - name: Clone Plugin
        uses: actions/checkout@v4
        with:
          path: plugin
          repository: "${{ steps.fetch-token.outputs.head-owner }}/${{ steps.fetch-token.outputs.head-repo }}"
          ref: "${{ steps.fetch-token.outputs.head-branch }}"
          token: ${{ steps.fetch-token.outputs.token }}

      - name: Build Plugin
        run: shopware-cli extension build plugin

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ steps.parse-args.outputs.php-version }}"

      - name: Setup Namespace CLI
        uses: namespacelabs/nscloud-setup@v0

      - name: Create a Namespace cluster
        id: create-cluster
        uses: namespacelabs/nscloud-cluster-action@v0
        with:
          preview: true

      - name: Deploy Shopware
        run: |
          kubectl run shopware \
            --env="SYMFONY_TRUSTED_PROXIES=REMOTE_ADDR" \
            --env="TRUSTED_PROXIES=REMOTE_ADDR" \
            --image=ghcr.io/friendsofshopware/shopware-demo-environment:${{ steps.parse-args.outputs.shopware-version }}
          kubectl expose pod shopware --type=LoadBalancer --port=8000

      - name: Expose application
        id: expose
        uses: namespacelabs/nscloud-expose-kubernetes-action@v0
        with:
          instance-id: ${{ steps.create-cluster.outputs.instance-id }}
          namespace: default
          service: shopware

      - name: Wait for Container Startup
        run: |
          set +e
          while true; do
            kubectl exec pod/shopware -- bin/console plugin:list
              if [ $? -eq 0 ]; then
                echo "Command succeeded!"
                break
              fi
            echo "Command failed, retrying in 1 seconds..."
            sleep 1
          done

      - name: Fix APP_URL
        run: |
          kubectl exec pod/shopware -- mariadb -uroot -proot shopware -e 'UPDATE sales_channel_domain SET url = "${{ steps.expose.outputs.preview-url }}"'
          kubectl exec pod/shopware -- bin/console cache:clear:all

      - name: Copy plugin into Container
        run: |
          kubectl cp plugin shopware:/var/www/html/custom/plugins/plugin
          kubectl exec pod/shopware -- bin/console plugin:refresh
          kubectl exec pod/shopware -- bin/console plugin:install --activate ${{ steps.fetch-token.outputs.head-repo }}

      - name: Report success
        uses: FriendsOfShopware/automation-bot/actions/report-data@main
        with:
          id: "${{ inputs.id }}"
          data: '{"previewUrl": "${{ steps.expose.outputs.preview-url }}"}'
